version: '3.7'

services:
  postgres:
    image: debezium/postgres:11
    volumes:
      - ./postgres/schema.sh:/docker-entrypoint-initdb.d/eventx-schema.sh
    ports:
      - 5432:5432
  eventx:
    build: .
    ports:
      - 30000:30000